/*Cpanal styles*/
body{
    background-color: #a1bcd1;
}

.loginform{
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    height: 400px;
    width: 400px;
    background-color: #f1e3e3;
    padding: 50px
}

#label{
    font-family: "arabic";
    border-radius: 50px;
    margin: 50dx;
}

@font-face{
    font-family:"arabic";
    src:url("neckar-regular.ttf");
}
.titles{
    padding-top: 30px;font-family: arabic; font-size: 25px;color: #373C3F;
}

.input{
    
    border-radius: 20px;
    font-size: 20px ;
    background-color: #a1bcd1;
    border:1px solid #5d92bb ;
    color: #1E2A34;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:7px; 
    padding-bottom:7px;
    font-family: arabic;
    font-size: 15px;
    background-color: #7d0202;
    border-radius: 50px;
    color: #f1e3e3;
    border: none;
}
/* students login styles*/
